@font-face {
  font-family:"PressStart2P";
  src:url("font/PressStart2P.eot?") format("eot"),url("font/PressStart2P.woff") format("woff"),url("font/PressStart2P.ttf") format("truetype"),url("font/PressStart2P.svg#OpenSans-Semibold") format("svg");
    font-weight:normal;
    font-style:normal;
}

body {
    font-family:"PressStart2P";
    font-size:1em;
    background-color: black;
    background-image: url(imagens/estatica.gif);
    margin: 0;
    padding: 0;
}

a {
    text-decoration:none;
}

p, h1, h2, h3, a, label{
    color: #0480B9;
    text-shadow: 0px 0px 15px #0480B9;
}

input, textarea{
    font-family:"PressStart2P";
}

:focus, :active{
    outline: none;
}

.pai{
    margin: 5px auto 0px;
    padding: 0;
    width: 750px;
    border: 3px solid #0000FF;
    border-top: none;
    background-color: black;
}

.band{
    
    position: absolute;
    top: 5;
    left: calc(50% + 380px);
    left: -webkit-calc(50% + 380px);
    left: -moz-calc(50% + 380px);
    width: 15px;
    height: 30px;
    z-index: 1000;

    }

.bandeira{
     height: 15px;
    width: 15px;
    border-radius: 50%
    
  
    
}

#container{
    height: 700px;
    padding: 10px;
    border: 1px solid #0000FF;
}

.quadrado{
    width: 250px;
    height: 30%;
    margin: 10px;
    border: 1px solid #0000FF;
    box-shadow: 0px 0px 40px 1px #0000FF, 0px 0px 40px 1px #0000FF inset;
}

.quadradoE{
    width:350px;
    height:680px;
    margin: 10px;
    border: 1px solid #0000FF;
    margin-top: -94%;
    float: right;
    box-shadow: 0px 0px 40px 1px #0000FF, 0px 0px 40px 1px #0000FF inset;
    overflow-y: auto;
}

.interna{
    box-shadow: 0px 0px 40px 1px #0000FF, 0px 0px 40px 1px #0000FF inset;
}

.meuMenu {
    height: 50px;
    text-align: center;
    margin:0;
    padding:0;
    width: 100%;
}

.meuMenu li {
    position: relative;
    display: inline-block;
    list-style:none;
    height: 50px;
    width: 25%;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 40px 5px #0000FF, 0px 0px 40px 5px #0000FF inset;
}

.meuMenu a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block; 
    line-height: 50px;
    margin: 0;
    padding: 0;
    border-right: 1.5px solid #0000FF;
    border-top: 3px solid #0000FF;
    border-left: 1.5px solid #0000FF;
    border-bottom: 1.5px solid #0000FF;
}

.meuMenu a:hover{
    color: #000000;
    z-index: 1;
    border: 3px solid #C0D4E2;
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top, #7db9e8 0%, #9ec6e5 51%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(51%,#9ec6e5), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7db9e8 0%,#9ec6e5 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7db9e8 0%,#9ec6e5 51%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7db9e8 0%,#9ec6e5 51%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7db9e8 0%,#9ec6e5 51%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0480b9', endColorstr='#0480b9',GradientType=0 );
    box-shadow: 0px 0px 40px 1px #9ec6e5, 0px 0px 40px 1px #9ec6e5 inset;
}

.meuMenu li:hover a:after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: " ";
    border: 3px solid #C0D4E2;
    box-shadow: 0px 0px 40px 1px #9ec6e5, 0px 0px 40px 1px #9ec6e5 inset;
    z-index: 1;
}

.logo{
    height: 30px;
    display: inline-block;
    vertical-align: text-bottom;
}

.acordion{
    text-align: center;
    color: #FF0000;
}

.ui-accordion-header{
    margin: 0 !important;
    border-bottom: 1.5px solid #0000FF;
    border-top: 1.5px solid #0000FF;
    box-shadow: 0px 0px 40px 1px #0000FF, 0px 0px 40px 1px #0000FF inset;
}

.ui-state-hover{
    color: #000000;
    z-index: 1;
    border: 1.5px solid #C0D4E2;
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top, #7db9e8 0%, #9ec6e5 51%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(51%,#9ec6e5), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7db9e8 0%,#9ec6e5 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7db9e8 0%,#9ec6e5 51%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7db9e8 0%,#9ec6e5 51%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7db9e8 0%,#9ec6e5 51%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0480b9', endColorstr='#0480b9',GradientType=0 );
    box-shadow: 0px 0px 40px 1px #9ec6e5, 0px 0px 40px 1px #9ec6e5 inset;
}

.ui-state-active{
    color: #000000;
    z-index: 1;
    border: 3px solid #C0D4E2;
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top, #7db9e8 0%, #9ec6e5 51%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(51%,#9ec6e5), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7db9e8 0%,#9ec6e5 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7db9e8 0%,#9ec6e5 51%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7db9e8 0%,#9ec6e5 51%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7db9e8 0%,#9ec6e5 51%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0480b9', endColorstr='#0480b9',GradientType=0 );
    box-shadow: 0px 0px 40px 1px #9ec6e5, 0px 0px 40px 1px #9ec6e5 inset;
}

.ui-state-active:after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: " ";
    border: 3px solid #C0D4E2;
    box-shadow: 0px 0px 40px 1px #9ec6e5, 0px 0px 40px 1px #9ec6e5 inset;
    z-index: 1;
}

.ui-accordion-content{
    padding: 0 !important;
    border-bottom: 1.5px solid #0000FF;
}

marquee{
    width: 100%;
    height: 300px;
}

marquee p{
    text-align: center;
}

.menuBaixo{
    text-align: center;
    border-top: 1.5px solid #0000FF;
    box-shadow: 0px 0px 40px 1px #0000FF, 0px 0px 40px 1px #0000FF inset;
}

.imgBaixo{
    margin: 5px 0;
    height: 100px;
}

/*efeitos do jogo*/

.palco{
    height: 75%;
    background-color: black;
    width: 750px;
    position: absolute;
    top: 55px;
    left: calc(50% - 378px);
    left: -webkit-calc(50% - 378px);
    left: -moz-calc(50% - 378px);
    border: 3px solid #0000FF;
}

.menuJogo{
    font-size: 0.7em;
    z-index: 10;
    position: absolute;
    width: 400px;
    top: calc(50% - 250px);
    left: calc(50% - 200px);
    top: -webkit-calc(50% - 250px);
    left: -webkit-calc(50% - 200px);
    border: 3px solid #0000FF;
    background-color: #000000;
    text-align: center;
}

.menuJogo div{
    margin: 10px 0;
}

.menuJogo p{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.menuJogo .custom table{
    margin: 0 auto;
}

.custom input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid #0480B9;
    
    /*required for proper track sizing in FF*/
    width: 150px;
}

.custom input[type=range]::-webkit-slider-runnable-track {
    width: 150px;
    height: 10px;
    background-color: #000;
    border: 1px solid #0480B9;
    box-shadow: 0px 0px 5px 1px #0480B9, 0px 0px 5px 1px #0480B9 inset;
}

.custom input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid #0480B9;
    height: 15px;
    width: 7px;
    background: #000;
    margin-top: -4px;
}

.custom input[type=range]:focus {
    outline: none;
    box-shadow: 0px 0px 40px 1px #0480B9, 0px 0px 40px 1px #0480B9 inset;
}

.custom input[type=range]:focus::-webkit-slider-runnable-track {
/*    background: #ccc;*/
}

.custom input[type=range]::-moz-range-track {
    width: 150px;
    height: 10px;
    background-color: #000;
    border: 1px solid #0480B9;
    box-shadow: 0px 0px 5px 1px #0480B9, 0px 0px 5px 1px #0480B9 inset;
}

.custom input[type=range]::-moz-range-thumb {
    border: 2px solid #0480B9;
    height: 15px;
    width: 7px;
    background: #000;
}

/*hide the outline behind the border*/
.custom input[type=range]:-moz-focusring{
    outline: 1px solid #0480B9;
    outline-offset: -1px;
}

.custom input[type=range]::-ms-track {
    width: 150px;
    height: 10px;
    background-color: #000;
    border: 1px solid #0480B9;
    box-shadow: 0px 0px 5px 1px #0480B9, 0px 0px 5px 1px #0480B9 inset;

    /*remove default tick marks*/
    color: transparent;
}

.custom input[type=range]::-ms-thumb {
    border: 2px solid #0480B9;
    height: 15px;
    width: 7px;
    background: #000;
}

.menuJogo input[type=button]{
    width: 100%;
    height: 50px;
    color: #0480B9;
    background-color: #000;
    font-size: 1em;
    border: none;
    border-top: 3px solid #0000FF;
    border-bottom:3px solid #0000FF;
}

.menuJogo input[type=button]:hover{
    color: #000000;
    background-color: #7db9e8;
    box-shadow: 0px 0px 40px 1px #9ec6e5, 0px 0px 40px 1px #9ec6e5 inset;
    border-top: 3px solid #9ec6e5;
    border-bottom: 3px solid #9ec6e5;
}

.personagem{
    position: absolute;
    display: inline-block;
    background: rgba(0,0,0,0) url("") no-repeat center;
    background-size: 100% 100%;
    z-index: 2;
}

.heroi{
    height: 20px;
    width: 20px;
    background-image: url(imagens/heroi.png);
    top: calc(50% - 10px);
    top: -webkit-calc(50% - 10px);
    top: -moz-calc(50% - 10px);
    left: calc(50% - 10px);
    left: -webkit-calc(50% - 10px);
    left: -moz-calc(50% - 10px);
}

.inimigo{
    height: 15px;
    width: 15px;
    background-image: url(imagens/pacmanFechado.png);
}

.saida{
    position: fixed;
    z-index: 1;
    display: inline-block;
    background: rgba(0,0,0,0) url("") no-repeat center;
    background-size: 100% 100%;
    border-radius: 25px;
}

.fruta{
    height: 20px;
    width: 20px;
}

.placar{
    text-align: center;
    position: absolute;
    top: calc(75% + 55px);
    top: -webkit-calc(75% + 55px);
    top: -moz-calc(75% + 55px);
    width: 750px;
    background-color: black;
    left: calc(50% - 378px);
    left: -webkit-calc(50% - 378px);
    left: -moz-calc(50% - 378px);
    border: 3px solid #0000FF;
    font-size: 1em;
}

.placar p{
    display: inline-block;
}

.gameOver{
    display: none;
    font-size: 0.7em;
    z-index: 10;
    position: absolute;
    width: 400px;
    top: calc(50% - 250px);
    left: calc(50% - 200px);
    top: -webkit-calc(50% - 250px);
    left: -webkit-calc(50% - 200px);
    border: 3px solid #0000FF;
    background-color: #000000;
    text-align: center;
}

.gameOver p{
    font-size: 1.6em;
}

.gameOver input[type=button]{
    width: 100%;
    height: 50px;
    color: #0480B9;
    background-color: #000;
    font-size: 1em;
    border: none;
    border-top: 3px solid #0000FF;
}

.gameOver input[type=button]:hover{
    color: #000000;
    background-color: #7db9e8;
    box-shadow: 0px 0px 40px 1px #9ec6e5, 0px 0px 40px 1px #9ec6e5 inset;
    border-top: 3px solid #9ec6e5;
}
